<div *ngIf="clientLibrary" class="header-wrapper">
  <div>
    <h2>Client library</h2>
    <h3>{{clientLibrary.getLibraryCompleteName()}}</h3>
  </div>
  <div class="radio-group-wrapper">
    <mat-radio-group aria-label="Display libraries" [(ngModel)]="filterByUsed" (change)="changedFilter()">
      <mat-radio-button value="All">All</mat-radio-button>
      <mat-radio-button value="Unused">Only unused</mat-radio-button>
      <mat-radio-button value="Used">Only used</mat-radio-button>
    </mat-radio-group>
    <mat-radio-group aria-label="Display libraries" [(ngModel)]="filterByLevel" (change)="changedFilter()">
      <mat-radio-button value="All">All</mat-radio-button>
      <mat-radio-button value="Direct">Only direct</mat-radio-button>
      <mat-radio-button value="Transitive">Only transitive</mat-radio-button>
    </mat-radio-group>
    <button (click)="exportToExcel()" [disabled]="!dataSource || !dataSource.data.length" color="primary"
            mat-flat-button>
      Export
    </button>
  </div>
</div>
<br>
<div class="example-container">
  <table mat-table [dataSource]="dataSource" class="dependency-table" matSort>
    <!-- Group ID Column -->
    <ng-container matColumnDef="groupId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Group Id</th>
      <td mat-cell *matCellDef="let element"> {{element.groupId}} </td>
    </ng-container>

    <!-- Artifact ID Column -->
    <ng-container matColumnDef="artifactId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Artifact ID</th>
      <td mat-cell *matCellDef="let element"> {{element.artifactId}} </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Version</th>
      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.level === 1">Direct</div>
        <div *ngIf="element.level > 1">Transitive</div>
      </td>
    </ng-container>

    <!-- MIC Column -->
    <ng-container matColumnDef="tmic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MIC / TMIC</th>
      <td mat-cell *matCellDef="let element"> {{element.tmic}} </td>
    </ng-container>

    <!-- AC Column -->
    <ng-container matColumnDef="tac">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AC / TAC</th>
      <td mat-cell *matCellDef="let element"> {{element.tac}} </td>
    </ng-container>

    <!-- % Classes Column -->
    <ng-container matColumnDef="classUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> % Reachable Classes</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="checkNotNaN(element.classUsage)">{{element.classUsage}}%</div>
        <div *ngIf="!checkNotNaN(element.classUsage)">N/A</div>
      </td>
    </ng-container>

    <!-- % Methods Column -->
    <ng-container matColumnDef="methodUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> % Reachable Methods</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="checkNotNaN(element.methodUsage)">{{element.methodUsage}}%</div>
        <div *ngIf="!checkNotNaN(element.methodUsage)">N/A</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="table-row" [ngClass]="isSelected(row)" (click)="clickedRow(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
