<br>
<div *ngIf="clientLibrary" class="header-wrapper">
  <div>
    <h2>Client library</h2>
    <h3>{{clientLibrary.getLibraryCompleteName()}}</h3>
  </div>
  <div>
    <mat-radio-group aria-label="Display libraries" [(ngModel)]="filter">
      <mat-radio-button value="All">All</mat-radio-button>
      <mat-radio-button value="Direct">Only direct</mat-radio-button>
      <mat-radio-button value="Transitive">Only transitive</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<br>
<table mat-table [dataSource]="dataSource" class="dependency-table">
  <!-- Group ID Column -->
  <ng-container matColumnDef="groupId">
    <th mat-header-cell *matHeaderCellDef> Group Id</th>
    <td mat-cell *matCellDef="let element"> {{element.groupID}} </td>
  </ng-container>

  <!-- Artifact ID Column -->
  <ng-container matColumnDef="artifactId">
    <th mat-header-cell *matHeaderCellDef> Artifact ID</th>
    <td mat-cell *matCellDef="let element"> {{element.artifactID}} </td>
  </ng-container>

  <!-- Version Column -->
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> Version</th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.level === 1">Direct</div>
      <div *ngIf="element.level > 1">Transitive</div>
    </td>
  </ng-container>

  <!-- MIC Column -->
  <ng-container matColumnDef="mic">
    <th mat-header-cell *matHeaderCellDef> MIC</th>
    <td mat-cell *matCellDef="let element"> {{element.tmic}} </td>
  </ng-container>

  <!-- AC Column -->
  <ng-container matColumnDef="ac">
    <th mat-header-cell *matHeaderCellDef> AC</th>
    <td mat-cell *matCellDef="let element"> {{element.tac}} </td>
  </ng-container>

  <!-- Annotations Column -->
  <ng-container matColumnDef="annotations">
    <th mat-header-cell *matHeaderCellDef> Annotations</th>
    <td mat-cell *matCellDef="let element"> {{element.tann}} </td>
  </ng-container>

  <!-- % Classes Column -->
  <ng-container matColumnDef="%Classes">
    <th mat-header-cell *matHeaderCellDef> % Used Classes</th>
    <td mat-cell *matCellDef="let element"> {{element.classUsage}}</td>
  </ng-container>

  <!-- % Methods Column -->
  <ng-container matColumnDef="%Methods">
    <th mat-header-cell *matHeaderCellDef> % Used Methods</th>
    <td mat-cell *matCellDef="let element"> {{element.methodUsage}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="table-row" [ngClass]="isSelected(row)" (click)="clickedRow(row)"
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
