<div class="spinner-wrapper">
  <mat-spinner *ngIf="activeProgressBar"></mat-spinner>
</div>
<div [hidden]="activeProgressBar || !hasData" class="tab-group-wrapper">
  <mat-tab-group mat-stretch-tabs (selectedIndexChange)="changedSelectedTab($event)" (animationDone)="animationDone()">
    <mat-tab label="Tree">
      <visualization
        (selectedNodeEvent)="selectedNodeInTree($event)"
        (noNodeSelectedEvent)="noNodeSelectedInTree()"
        #treeVisualization
      ></visualization>
    </mat-tab>
    <mat-tab label="Table">
      <table-visualization
        (selectedNodeEvent)="selectedNodeInTable($event)"
        (noNodeSelectedEvent)="noNodeSelectedInTable()"
        #tableVisualization
      ></table-visualization>
    </mat-tab>
  </mat-tab-group>
</div>

