<div class="chart-div" [hidden]="!classDistributionData.length">
  <ngx-charts-bar-vertical-2d
    [scheme]="colorScheme"
    [animations]="animations"
    [results]="classDistributionData"
    [xAxisLabel]="xAxisLabel"
    [legendTitle]="legendTitle"
    [yAxisLabel]="yAxisLabel"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [gradient]="gradient">
    <ng-template #tooltipTemplate let-model="model">
      <pre>{{model.tooltip}}</pre>
      <pre>{{model.name}}: {{model.value}}</pre>
    </ng-template>
  </ngx-charts-bar-vertical-2d>

</div>
