/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-snack-bar {
  white-space: pre-wrap;
}

.mat-card {
  width: 100%;
  border: 2px solid #3F51B5;
}

.form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 15px;
  flex: 1 1 auto;
}
