<mat-accordion class="example-headers-align" multi>
<form (analyzeLibraryEvent)="doAnalyzeRequest($event)" #libraryForm></form>
<calculator
  (changedTacFactor)="formulaFactorChanged(Metrics.Tac, $event)"
  (changedTmicFactor)="formulaFactorChanged(Metrics.Tmic, $event)"
  #calculator
></calculator>
</mat-accordion>
<mat-divider></mat-divider>
<search-bar (selectedLibrary)="selectedLibrary($event)" #searchBar></search-bar>
<tabs
  (selectedNodeEvent)="createClassDistribution($event)"
  (noNodeSelectedEvent)="deleteClassDistribution()"
  #tabsComponent
></tabs>
<class-distribution #classDistribution></class-distribution>

