mat-divider {
  margin-bottom: 20px;
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

calculator {
  display: block;
  padding-right: 35px;
}

::ng-deep .vis-tooltip {
  background-color: white !important;
  border-color: #3F51B5 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

::ng-deep .vis-tooltip th {
  border-bottom: 1px solid black;
}
